<a href="https://colab.research.google.com/github/vit050587/Kaggle-Competition-Price-Prediction/blob/master/Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **[Real Estate Price Prediction](https://www.kaggle.com/c/real-estate-price-prediction-moscow/)**

# Kaggle-Competition-Price-Prediction
## Description
* Ваша задача этом соревновании - предсказать цены на квартиры в датасете test.csv. Вам будут даны два датасета: train.csv (содержит признаки и цены на квартиры) и test.csv (только признаки).
* Invite link for this competition: https://www.kaggle.com/t/b4c9382d4f934176af9fe860b1976528
## Evaluation
* The evaluation metric is [Coefficient of determination](https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html):

$$
R^2=1−\frac{σ^2}{σ^2_y}
$$

![image.png](https://raw.githubusercontent.com/vit050587/Kaggle-Competition-Price-Prediction/master/Files/home_price.png)

# File descriptions

**Подключение библиотек и скриптов**

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as mode
import warnings 
warnings.filterwarnings ('ignore')

* train.csv - the training set
* test.csv - the test set
* sampleSubmission.csv - a sample submission file in the correct format

**Прописали пути к дата сету и другим файлам**

In [ ]:
DATASET_PATH = 'https://raw.githubusercontent.com/vit050587/Kaggle-Competition-Price-Prediction/master/Files/train.csv'
FEATURIES_PATH = 'https://raw.githubusercontent.com/vit050587/Kaggle-Competition-Price-Prediction/master/Files/test.csv'
SAMPLE = 'https://raw.githubusercontent.com/vit050587/Kaggle-Competition-Price-Prediction/master/Files/sample_submission.csv'

# Data fields

**Расшифровка Датасета**

* Id - идентификационный номер квартиры
* DistrictId - идентификационный номер района
* Rooms - количество комнат
* Square - площадь
* LifeSquare - жилая площадь
* KitchenSquare - площадь кухни
* Floor - этаж
* HouseFloor - количество этажей в доме
* HouseYear - год постройки дома
* Ecology_1, Ecology_2, Ecology_3 - экологические показатели местности
* Social_1, Social_2, Social_3 - социальные показатели местности
* Healthcare_1, Helthcare_2 - показатели местности, связанные с охраной здоровья
* Shops_1, Shops_2 - показатели, связанные с наличием магазинов, торговых центров
* Price - цена квартиры

In [ ]:
df = pd.read_csv(DATASET_PATH, sep=",")
df.head()

      Id  DistrictId  Rooms  ...  Shops_1  Shops_2          Price
0  11809          27    3.0  ...        0        B  305018.871089
1   3013          22    1.0  ...        0        B  177734.553407
2   8215           1    3.0  ...        1        B  282078.720850
3   2352           1    1.0  ...        1        B  168106.007630
4  13866          94    2.0  ...        6        B  343995.102962

[5 rows x 20 columns]

In [ ]:
df.shape

(10000, 20)

In [ ]:
df.index

RangeIndex(start=0, stop=10000, step=1)

In [ ]:
df.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Shops_2', 'Price'],
      dtype='object')

**Вывели серию с количеством комнат по каждой квартре**

In [ ]:
df['Rooms']

0       3.0
1       1.0
2       3.0
3       1.0
4       2.0
       ...
9995    2.0
9996    2.0
9997    1.0
9998    1.0
9999    1.0
Name: Rooms, Length: 10000, dtype: float64

**Приведение типов данных**

In [ ]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

**Первичное понимание того, что из себя представляют данные**

In [ ]:
df.describe()

                Id    DistrictId  ...       Shops_1          Price
count  10000.00000  10000.000000  ...  10000.000000   10000.000000
mean    8383.40770     50.400800  ...      4.231300  214138.857399
std     4859.01902     43.587592  ...      4.806341   92872.293865
min        0.00000      0.000000  ...      0.000000   59174.778028
25%     4169.50000     20.000000  ...      1.000000  153872.633942
50%     8394.50000     36.000000  ...      3.000000  192269.644879
75%    12592.50000     75.000000  ...      6.000000  249135.462171
max    16798.00000    209.000000  ...     23.000000  633233.466570

[8 rows x 17 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

**Посмотрим количество квартир в соответствии с их количеством комнат**

In [ ]:
df['Rooms'].value_counts()

2.0     3880
1.0     3705
3.0     2235
4.0      150
5.0       18
0.0        8
10.0       2
19.0       1
6.0        1
Name: Rooms, dtype: int64

# Обработка пропусков

In [ ]:
df.isna()

         Id  DistrictId  Rooms  Square  ...  Helthcare_2  Shops_1  Shops_2  Price
0     False       False  False   False  ...        False    False    False  False
1     False       False  False   False  ...        False    False    False  False
2     False       False  False   False  ...        False    False    False  False
3     False       False  False   False  ...        False    False    False  False
4     False       False  False   False  ...        False    False    False  False
...     ...         ...    ...     ...  ...          ...      ...      ...    ...
9995  False       False  False   False  ...        False    False    False  False
9996  False       False  False   False  ...        False    False    False  False
9997  False       False  False   False  ...        False    False    False  False
9998  False       False  False   False  ...        False    False    False  False
9999  False       False  False   False  ...        False    False    False  False

[10000 rows x 20 columns]

## Жилая пложадь

In [ ]:
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

In [ ]:
df['LifeSquare_NaN'] = 0
df

         Id  DistrictId  Rooms  ...  Shops_2          Price  LifeSquare_NaN
0     11809          27    3.0  ...        B  305018.871089               0
1      3013          22    1.0  ...        B  177734.553407               0
2      8215           1    3.0  ...        B  282078.720850               0
3      2352           1    1.0  ...        B  168106.007630               0
4     13866          94    2.0  ...        B  343995.102962               0
...     ...         ...    ...  ...      ...            ...             ...
9995   1260          61    2.0  ...        B  119367.455796               0
9996  16265          27    2.0  ...        A  199715.148807               0
9997   2795         178    1.0  ...        B  165953.912580               0
9998  14561          21    1.0  ...        B  171842.411855               0
9999   7202          94    1.0  ...        B  177685.627486               0

[10000 rows x 21 columns]

In [ ]:
df['LifeSquare'].isna()

0        True
1       False
2       False
3        True
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: LifeSquare, Length: 10000, dtype: bool

In [ ]:
df.loc[df['LifeSquare'].isna()]

         Id  DistrictId  Rooms  ...  Shops_2          Price  LifeSquare_NaN
0     11809          27    3.0  ...        B  305018.871089               0
3      2352           1    1.0  ...        B  168106.007630               0
18     4581           1    1.0  ...        B  128803.593810               0
20     8768          63    1.0  ...        B  260328.413376               0
24     4717          27    1.0  ...        A  135466.559958               0
...     ...         ...    ...  ...      ...            ...             ...
9975   4944           6    2.0  ...        B  154366.031184               0
9978   4851           1    1.0  ...        B  137782.941940               0
9981   6753          62    2.0  ...        A  159077.198056               0
9983    647           1    2.0  ...        B  183809.327114               0
9991  11173           6    2.0  ...        B  182625.548872               0

[2113 rows x 21 columns]

In [ ]:
df.loc[df['LifeSquare'].isna(), 'LifeSquare_NaN']

0       0
3       0
18      0
20      0
24      0
       ..
9975    0
9978    0
9981    0
9983    0
9991    0
Name: LifeSquare_NaN, Length: 2113, dtype: int64

In [ ]:
df.loc[df['LifeSquare'].isna(), 'LifeSquare_NaN'] = 1

In [ ]:
df[df['LifeSquare_NaN'] == 1]

         Id  DistrictId  Rooms  ...  Shops_2          Price  LifeSquare_NaN
0     11809          27    3.0  ...        B  305018.871089               1
3      2352           1    1.0  ...        B  168106.007630               1
18     4581           1    1.0  ...        B  128803.593810               1
20     8768          63    1.0  ...        B  260328.413376               1
24     4717          27    1.0  ...        A  135466.559958               1
...     ...         ...    ...  ...      ...            ...             ...
9975   4944           6    2.0  ...        B  154366.031184               1
9978   4851           1    1.0  ...        B  137782.941940               1
9981   6753          62    2.0  ...        A  159077.198056               1
9983    647           1    2.0  ...        B  183809.327114               1
9991  11173           6    2.0  ...        B  182625.548872               1

[2113 rows x 21 columns]

In [ ]:
df['LifeSquare_NaN'].value_counts()

0    7887
1    2113
Name: LifeSquare_NaN, dtype: int64

In [21]:
median = df['LifeSquare'].median()
df['LifeSquare'].fillna(median).isna().sum()

0

In [22]:
df['LifeSquare'].isna().sum()

2113

In [23]:
df['LifeSquare'] = df['LifeSquare'].fillna(median)

In [24]:
df['LifeSquare'].isna().sum()

0

In [25]:
df[df['LifeSquare_NaN'] == 1]

         Id  DistrictId  Rooms  ...  Shops_2          Price  LifeSquare_NaN
0     11809          27    3.0  ...        B  305018.871089               1
3      2352           1    1.0  ...        B  168106.007630               1
18     4581           1    1.0  ...        B  128803.593810               1
20     8768          63    1.0  ...        B  260328.413376               1
24     4717          27    1.0  ...        A  135466.559958               1
...     ...         ...    ...  ...      ...            ...             ...
9975   4944           6    2.0  ...        B  154366.031184               1
9978   4851           1    1.0  ...        B  137782.941940               1
9981   6753          62    2.0  ...        A  159077.198056               1
9983    647           1    2.0  ...        B  183809.327114               1
9991  11173           6    2.0  ...        B  182625.548872               1

[2113 rows x 21 columns]

## Показатели месности по охране здоровья 1 категория

In [26]:
df.isna().sum()

Id                   0
DistrictId           0
Rooms                0
Square               0
LifeSquare           0
KitchenSquare        0
Floor                0
HouseFloor           0
HouseYear            0
Ecology_1            0
Ecology_2            0
Ecology_3            0
Social_1             0
Social_2             0
Social_3             0
Healthcare_1      4798
Helthcare_2          0
Shops_1              0
Shops_2              0
Price                0
LifeSquare_NaN       0
dtype: int64

In [27]:
df['Healthcare_1_NaN'] = 0
df

         Id  DistrictId  Rooms  ...          Price  LifeSquare_NaN  Healthcare_1_NaN
0     11809          27    3.0  ...  305018.871089               1                 0
1      3013          22    1.0  ...  177734.553407               0                 0
2      8215           1    3.0  ...  282078.720850               0                 0
3      2352           1    1.0  ...  168106.007630               1                 0
4     13866          94    2.0  ...  343995.102962               0                 0
...     ...         ...    ...  ...            ...             ...               ...
9995   1260          61    2.0  ...  119367.455796               0                 0
9996  16265          27    2.0  ...  199715.148807               0                 0
9997   2795         178    1.0  ...  165953.912580               0                 0
9998  14561          21    1.0  ...  171842.411855               0                 0
9999   7202          94    1.0  ...  177685.627486               0                 0

[10000 rows x 22 columns]

In [28]:
df['Healthcare_1'].isna()

0        True
1       False
2       False
3        True
4        True
        ...
9995     True
9996     True
9997     True
9998    False
9999     True
Name: Healthcare_1, Length: 10000, dtype: bool

In [29]:
df.loc[df['Healthcare_1'].isna()]

         Id  DistrictId  Rooms  ...          Price  LifeSquare_NaN  Healthcare_1_NaN
0     11809          27    3.0  ...  305018.871089               1                 0
3      2352           1    1.0  ...  168106.007630               1                 0
4     13866          94    2.0  ...  343995.102962               0                 0
8      9951           1    1.0  ...  160400.401732               0                 0
11    16755          88    2.0  ...  253124.005332               0                 0
...     ...         ...    ...  ...            ...             ...               ...
9993   9289           1    3.0  ...  264213.558631               0                 0
9995   1260          61    2.0  ...  119367.455796               0                 0
9996  16265          27    2.0  ...  199715.148807               0                 0
9997   2795         178    1.0  ...  165953.912580               0                 0
9999   7202          94    1.0  ...  177685.627486               0                 0

[4798 rows x 22 columns]

In [30]:
df.loc[df['Healthcare_1'].isna(), 'Healthcare_1_NaN']

0       0
3       0
4       0
8       0
11      0
       ..
9993    0
9995    0
9996    0
9997    0
9999    0
Name: Healthcare_1_NaN, Length: 4798, dtype: int64

In [31]:
df.loc[df['Healthcare_1'].isna(), 'Healthcare_1_NaN'] = 1

In [32]:
df[df['Healthcare_1_NaN'] == 1]

         Id  DistrictId  Rooms  ...          Price  LifeSquare_NaN  Healthcare_1_NaN
0     11809          27    3.0  ...  305018.871089               1                 1
3      2352           1    1.0  ...  168106.007630               1                 1
4     13866          94    2.0  ...  343995.102962               0                 1
8      9951           1    1.0  ...  160400.401732               0                 1
11    16755          88    2.0  ...  253124.005332               0                 1
...     ...         ...    ...  ...            ...             ...               ...
9993   9289           1    3.0  ...  264213.558631               0                 1
9995   1260          61    2.0  ...  119367.455796               0                 1
9996  16265          27    2.0  ...  199715.148807               0                 1
9997   2795         178    1.0  ...  165953.912580               0                 1
9999   7202          94    1.0  ...  177685.627486               0                 1

[4798 rows x 22 columns]

In [33]:
df['Healthcare_1_NaN'].value_counts()

0    5202
1    4798
Name: Healthcare_1_NaN, dtype: int64

In [34]:
median = df['Healthcare_1'].median()
df['Healthcare_1'].fillna(median, inplace=True)

In [35]:
df[df['Healthcare_1_NaN'] == 1]

         Id  DistrictId  Rooms  ...          Price  LifeSquare_NaN  Healthcare_1_NaN
0     11809          27    3.0  ...  305018.871089               1                 1
3      2352           1    1.0  ...  168106.007630               1                 1
4     13866          94    2.0  ...  343995.102962               0                 1
8      9951           1    1.0  ...  160400.401732               0                 1
11    16755          88    2.0  ...  253124.005332               0                 1
...     ...         ...    ...  ...            ...             ...               ...
9993   9289           1    3.0  ...  264213.558631               0                 1
9995   1260          61    2.0  ...  119367.455796               0                 1
9996  16265          27    2.0  ...  199715.148807               0                 1
9997   2795         178    1.0  ...  165953.912580               0                 1
9999   7202          94    1.0  ...  177685.627486               0                 1

[4798 rows x 22 columns]

In [37]:
df['Healthcare_1'].isna().sum()

0

In [38]:
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare          0
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1        0
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
LifeSquare_NaN      0
Healthcare_1_NaN    0
dtype: int64

## Вариант упрощени и обработки пропусков подстановкой медианы сразу для всех признаков

In [39]:
medians = df[['LifeSquare', 'Healthcare_1']].median()
medians

LifeSquare       32.78126
Healthcare_1    900.00000
dtype: float64

In [ ]:
df[['housing_median_age', 'total_bedrooms', 'population']] = \
        df[['housing_median_age', 'total_bedrooms', 'population']].fillna(medians)