<a href="https://colab.research.google.com/github/vit050587/Kaggle-Competition-Price-Prediction/blob/master/Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **[Real Estate Price Prediction](https://www.kaggle.com/c/real-estate-price-prediction-moscow/)**

# Kaggle-Competition-Price-Prediction
## Description
* Ваша задача этом соревновании - предсказать цены на квартиры в датасете test.csv. Вам будут даны два датасета: train.csv (содержит признаки и цены на квартиры) и test.csv (только признаки).
* Invite link for this competition: https://www.kaggle.com/t/b4c9382d4f934176af9fe860b1976528
## Evaluation
* The evaluation metric is [Coefficient of determination](https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html):

$$
R^2=1−\frac{σ^2}{σ^2_y}
$$

![image.png](https://raw.githubusercontent.com/vit050587/Kaggle-Competition-Price-Prediction/master/Files/home_price.png)

# File descriptions

**Подключение библиотек и скриптов**

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as mode
import warnings 
warnings.filterwarnings ('ignore')

* train.csv - the training set
* test.csv - the test set
* sampleSubmission.csv - a sample submission file in the correct format

In [3]:
DATASET_PATH = 'https://raw.githubusercontent.com/vit050587/Kaggle-Competition-Price-Prediction/master/Files/train.csv'
FEATURIES_PATH = 'https://raw.githubusercontent.com/vit050587/Kaggle-Competition-Price-Prediction/master/Files/test.csv'
SAMPLE = 'https://raw.githubusercontent.com/vit050587/Kaggle-Competition-Price-Prediction/master/Files/sample_submission.csv'

# Data fields

* Id - идентификационный номер квартиры
* DistrictId - идентификационный номер района
* Rooms - количество комнат
* Square - площадь
* LifeSquare - жилая площадь
* KitchenSquare - площадь кухни
* Floor - этаж
* HouseFloor - количество этажей в доме
* HouseYear - год постройки дома
* Ecology_1, Ecology_2, Ecology_3 - экологические показатели местности
* Social_1, Social_2, Social_3 - социальные показатели местности
* Healthcare_1, Helthcare_2 - показатели местности, связанные с охраной здоровья
* Shops_1, Shops_2 - показатели, связанные с наличием магазинов, торговых центров
* Price - цена квартиры

In [4]:
df = pd.read_csv(DATASET_PATH, sep=",")
df.head()

      Id  DistrictId  Rooms  ...  Shops_1  Shops_2          Price
0  11809          27    3.0  ...        0        B  305018.871089
1   3013          22    1.0  ...        0        B  177734.553407
2   8215           1    3.0  ...        1        B  282078.720850
3   2352           1    1.0  ...        1        B  168106.007630
4  13866          94    2.0  ...        6        B  343995.102962

[5 rows x 20 columns]

In [7]:
df.shape

(10000, 20)

In [10]:
df.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Shops_2', 'Price'],
      dtype='object')